*
# except
!pyproject.toml
!uv.lock
!app/*
!config/

# Git files
.git
.gitignore
.gitattributes

# Python cache
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
.pytest_cache/
.coverage
.tox/
.cache
